.headerbackground{
    height: 40px;
}

.bg-ammenities{
    background-color: #fbb034;
background-image: linear-gradient(90deg,#000 0,#d89623 0,#d89723 0,#e5ad2e 23%,#e9b332 42%,#ebc042 51%,#f1db65 65%,#f2e370 74%,#f2e370 78%,#f0de6a 85%,#e6c651)
}
.color-primary{
    background-color: #fbb034;
background-image: linear-gradient(90deg,#000 0,#d89623 0,#d89723 0,#e5ad2e 23%,#e9b332 42%,#ebc042 51%,#f1db65 65%,#f2e370 74%,#f2e370 78%,#f0de6a 85%,#e6c651);
-webkit-background-clip: text;
background-clip: text;
color: transparent !important;
}

.carousel-caption{
    padding-bottom: 70px;
}
.card{
    border:none;
    
}
.paddings{
    padding-top:15px;
    padding-bottom:15px;
}
.bg-main{
    background-color: black;
}
.bg-details{
    background-color:  #1e1e1e;
}
.col-md-6{
    padding-right:0px;
    padding-left:0px;
}

.card-body{
    padding: 1.25rem 0rem;
}
.fluid-whole{
    padding-left:0;
    padding-right:0;
}
.px-sm-5{
    padding-left: 20rem;
    padding-right: 20rem; 
}
.contact{
    margin-top: -20rem !important;
}
.contactus {
    margin-left: 7rem !important;
}
.pt-n1{
    margin-top: -17rem !important;
    padding-top:19rem;
}
.bg-gray{
    background-color: #d6d7d8;
}
.margin-form{
    margin-top: 35px;
}
.reachus{
    // margin-top: -32rem !important;
    // margin-left:10rem;
    padding: 0;
}
.addr{
    padding-right: 0;
    padding-left: 0;
}
.btn-lg{
    padding:0;
}
.booknow{
    padding:0.33rem 1.5rem;
}
.readbutton{
    
    height:40px;
    
}
.navbar-nav li:hover .roomtypes{
    position: absolute;
    display: flex;
    
    color: white;
}
.roomtypes{
    display:none;
    background-color: black;
    position: absolute;
    z-index: 1000;
    
}
.readbutton:hover {
    background-color:green;
    color:white;
}


@include media-breakpoint-down(md) {
    .navbar-brand > img {
        max-height: 50px;
    }
    .card-body > img {
        max-height: 50px;
    }
    li > img {
        max-height: 50px;
    }
    .btn-block-md-only {
        display: block;
        width: 100%;
      }
    .h1 {
        font-size:15px;
    }
    .list {
        padding:2rem;
    }
    .row > .pl-5 .pt-5 {
        padding:0;
    }
    
    .icons > img {
        padding-top:1rem;
        padding-bottom:3rem;
        padding-left:1rem;
        padding-right: 1rem;
    }
    .carousel-caption {
        padding-bottom: 0;
    }
    .iconheader {
        color:black;
        padding-top:2rem;
    }
    .blogs {
        display: block;
    }
    .mobilefooter {
        padding-left:0;
        padding-right:0;
    }
    .my-5 {
        margin-top:0;
        margin-bottom:0;
    }
    .d-none .d-sm-block > div {
        margin-top: 21rem;
    }
    .carouselsmall {
        margin-top:21rem;
    }

}

// .bg-contactus{
//     background-image: url('../../docs/images/banner_deluxe double.jpg');
// }

@include media-breakpoint-up(md){
    .carouselsmall{
        margin-top:10rem;
        margin-left:45rem;
    }
}