.headerbackground{
    height: 40px;
}

.bg-ammenities{
    background-color: #fbb034;
background-image: linear-gradient(90deg,#000 0,#d89623 0,#d89723 0,#e5ad2e 23%,#e9b332 42%,#ebc042 51%,#f1db65 65%,#f2e370 74%,#f2e370 78%,#f0de6a 85%,#e6c651)
}
.color-primary{
    background-color: #fbb034;
background-image: linear-gradient(90deg,#000 0,#d89623 0,#d89723 0,#e5ad2e 23%,#e9b332 42%,#ebc042 51%,#f1db65 65%,#f2e370 74%,#f2e370 78%,#f0de6a 85%,#e6c651);
-webkit-background-clip: text;
background-clip: text;
color: transparent !important;
}

.carousel-caption{
    padding-bottom: 70px;
}
.card{
    border:none;
    
}
.paddings{
    padding-top:15px;
    padding-bottom:15px;
}
.bg-main{
    background-color: black;
}
.bg-details{
    background-color:  #1e1e1e;
}
.col-md-6{
    padding-right:0px;
    padding-left:0px;
}

.card-body{
    padding: 1.25rem 0rem;
}
.fluid-whole{
    padding-left:0;
    padding-right:0;
}
.thexp{
    padding-left: 20rem;
    padding-right: 20rem;
}
.contact{
    margin-top: -20rem !important;
}
.contactus {
    margin-left: 7rem !important;
}
.pt-n1{
    margin-top: -17rem !important;
    padding-top:19rem;
}
.bg-gray{
    background-color: #d6d7d8;
}
.margin-form{
    margin-top: 35px;
}
.reachus{
    margin-top: -32rem !important;
    margin-left:10rem;
}
.addr{
    padding-right: 0;
    padding-left: 0;
}